#!/usr/bin/env bash
#:***********************************************
#:Program: MariaDB Cluster Initialize the script
#:
#:Author: lian-jihong@qq.com
#:
#:History: 2017-06-27
#:
#:Version: 1.0
#:***********************************************
/usr/local/mysql/bin/mysqld_safe --defaults-file=/etc/my.cnf --user=mysql &
