[DEFAULT]
auth_strategy = keystone
dhcp_lease_duration = -1
global_physnet_mtu = 1550

[keystone_authtoken]
auth_uri = http://{{ controller_vip }}:{{ keystone_public_port }}
auth_url = http://{{ controller_vip }}:{{ keystone_admin_port }}
memcached_servers = {{ memcached_servers }}
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = neutron
password = {{ neutron_pass }}


[oslo_messaging_rabbit]
{% if is_cluster == "true" %}
rabbit_hosts={{ rabbitmq_hosts }}
rabbit_retry_interval=1
rabbit_retry_backoff=2
rabbit_max_retries=0
rabbit_ha_queues=true
{% else %}
rabbit_host={{ controller_vip }}
{% endif %}
rabbit_userid = {{ rabbitmq_user }}
rabbit_password = {{ rabbitmq_pass }}

[oslo_concurrency]
lock_path = /var/lib/neutron/tmp
